* {
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Roboto";
}

.header,
.footer {
  background-color: #1f2937;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 16px 0px;

  a {
    text-decoration: none;
  }
}

.logo {
  font-size: 24px;

  a {
    color: #f9faf8;
  }
}

.links {
  font-size: 18px;

  ul {
    display: flex;
    list-style: none;
    flex-direction: row;
    padding: 0;
    gap: 16px;
  }

  a {
    color: #e5e7eb;
  }
}

.hero {
  display: flex;
  padding: 64px 0px;

  button {
    background-color: #3882f6;
    border: none;
    color: white;
    border-radius: 4px;
    padding: 8px 16px;
    margin: 8px 0px;
    font-weight: 900;
  }
}

.hero-text {
  color: #f9faf8;
  padding-right: 16px;
}

.hero-main {
  font-size: 48px;
  font-weight: 900;
}

.hero-secondary {
  color: #e5e7eb;
  font-size: 18px;
}

.hero-image {
  img {
    width: 100%;
    height: auto;
  }
}

.information {
  padding: 64px 0px;
}

.information-header {
  font-size: 36px;
  font-weight: 900px;
  color: #1f2937;
  text-align: center;
  padding: 16px 0px;
}

.information-images {
  display: flex;
  justify-content: center;
  gap: 32px;
}

.information-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
}

.information-card-image {
  display: flex;
  justify-content: center;
  img {
    width: 150px;
    height: 150px;
    border: 4px solid #3882f6;
    border-radius: 8px;
  }
}

.information-card-subtext {
  text-align: center;
  padding: 8px 0px;
}

.quote {
  background-color: #e5e7eb;
  padding: 64px 0px;
}

.quote-secondary {
  font-size: 18px;
  font-weight: 700;
}

.quote-main {
  font-size: 36px;
  font-style: italic;
  font-weight: 300;
}

.call-to-action {
  padding: 64px 0px;
}

.cta-sub-container {
  display: flex;
  background-color: #3882f6;
  border-radius: 4px;
  padding: 32px;
  justify-content: space-around;
}

.cta-text {
  color: #e5e7eb;
}

.cta-main {
  font-weight: 900;
}

.cta-button {
  background-color: transparent;
  border: 2px solid #f9faf8;
  border-radius: 4px;
  color: #f9faf8;
  padding: 8px 16px;
  margin: 8px 0px;
  font-weight: 900;
}

.footer {
  display: flex;
  justify-content: center;
  color: #f9faf8;
  padding: 32px;
}

.container {
  padding-left: 15%;
  padding-right: 15%;
}
