* {
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Roboto";
}

.header,
.footer {
  background-color: #1f2937;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 16px 0px;

  a {
    text-decoration: none;
  }
}

.logo {
  font-size: 24px;

  a {
    color: #f9faf8;
  }
}

.links {
  font-size: 18px;

  ul {
    display: flex;
    list-style: none;
    flex-direction: row;
    padding: 0;
    gap: 16px;
  }

  a {
    color: #e5e7eb;
  }
}

.hero {
  display: flex;

  button {
    background-color: #3882f6;
    border: none;
    color: white;
    border-radius: 4px;
    padding: 8px 16px;
    margin: 8px 0px;
    font-weight: 900;
  }
}

.hero-text {
  color: #f9faf8;
  padding-right: 16px;
}

.hero-main {
  font-size: 48px;
  font-weight: 900;
}

.hero-secondary {
  color: #e5e7eb;
  font-size: 18px;
}

.hero-image {
  img {
    width: 100%;
    height: auto;
  }
}
